{% extends 'base.html' %}
  {% block content %}
   <link rel="stylesheet" href="../static/css/estilosconsulta.css">
    <section class="main">
        <section class="objeto">
            <div class="contenedor">
                <h3 class="seleccion">Seleccione tipo de Consulta</h3>
                <div class="contenedor-objeto">
                    <div class="objeto">
                        <div class="object">
                            <a href="{{url_for('conscar')}}"><img src="../static/img/consulta/carro.jpg" alt="Vehículo"></a>
                        </div>
                        <div class="descripcion">
                            <p class="des">Vehículo</p>
                        </div>
                    </div>
                    <div class="objeto">
                        <div class="object">
                            <a href="{{url_for('conscasa')}}"><img src="../static/img/consulta/casa.jpg" alt="Vehículo"></a>
                        </div>
                        <div class="descripcion">
                            <p class="des">Hogar</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
  {% endblock %}